<template>
    <div>
        <footer class="">
            <div class="main-ftr">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 ftr1">
                            <img src="../../../images/logo.png">
                            <!-- <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished text. He who searches for meaning here will be sorely disappointed.</p> -->
                        </div>
                        <div class="col-md-2 ftr2">
                            <h3>Quick Links</h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Menu</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 ftr3">
                            <h3>Opening Hours</h3>
                            <ul>
                                <li>
                                    Monday to Saturday: <span>11.30am – 2pm <br>4.30pm – 10pm</span>
                                </li>
                                <li>
                                    Sunday: <span>4.30pm – 10pm</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-3 ftr4">
                            <h3>Contact Us</h3>
                            <ul>
                                <li><a href="#"><span>Phone:</span>02476441200</a></li>
                                <li><a href="#"><span>Email:</span>info@mjstakeaway.co.uk.com</a></li>
                                <li><a href="#"><span>Address:</span>42 Torcross Avenue, Wyken, Coventry, CV2 3NF</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>2020 ©  <span>Mjs</span>, All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>
</template>
