<template>

    <div>
        <div class="top-bar">
            <div class="container">
                <div class="add-info" style="width: 100%; float: left;">
                    <ul style="float: left;" class="ino">
                        <li><a href="#"><i class="fas fa-phone"></i> 02476441200</a></li>
                        <li><a href="#"><i class="fas fa-envelope"></i>info@mjstakeaway.co.uk.com</a></li>
                        <li class="add"><i class="fas fa-map-marker-alt"></i> 42 Torcross Ave, Coventry CV2 3NF.</li>
                    </ul>
                    <ul class="sicon" style="float: right;">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-snapchat-ghost"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <header class="masthead">
            <nav class="navbar navbar-expand-lg navbar-light custom-header" id="mainNav">
                <div class="container">
                    <router-link :to="{ path: '/'}" class="custom-logo">
                        <a class="navbar-brand js-scroll-trigger" href="#">
                            <img src="/images/main-logo.png">
                        </a>
                    </router-link>
                    <div class="right">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                        <div class="main-menu" id="navbarResponsive">
                            <ul class="navbar-nav ml-auto my-2 my-lg-0">

                                <li class="nav-item active"> <router-link :to="{ path: '/'}"><a class="nav-link js-scroll-trigger" href="#about">Home</a></router-link></li>
                                <li class="nav-item "> <router-link :to="{ path: '/feedback'}"><a class="nav-link js-scroll-trigger" >Feedback</a></router-link></li>
                                <li class="nav-item "> <router-link :to="{ path: '/about-us'}"><a class="nav-link js-scroll-trigger" >About Us</a></router-link></li>
                                <li class="nav-item">
                                    <a href="#" @click="openAllergy" class="nav-link">Allergy Information</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link" @click="openMenu">Our Menu</a>
                                </li>

                                <!--                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Menu</a></li>-->
                                <!--                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">GALLERY</a></li>-->
                            </ul>
                            <ul class="btm-menu">
                                <!--                            <li><a href="#">Feedback</a></li>-->
                                <!--                            <li><a href="#">Contact Us</a></li>-->
                                <!--                            <li><a href="#">Help</a></li>-->
                                <!--                            <li><a href="#"><i class="fas fa-user"></i> My Account</a></li>-->
                            </ul>
                        </div>
                        <div class="order-now">
                            <a href="#" class="btn-primary btn"  @click.prevent="openPostalCode">
                                Order Online <i class="fas fa-long-arrow-alt-right"></i></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="header-bottom">
                <div class="hero-slider">
                    <b-carousel
                            id="carousel-fade"
                            fade
                            :interval="2000"
                            style="text-shadow: 1px 1px 2px #333;"
                            @sliding-start="onSlideStart"
                            @sliding-end="onSlideEnd"
                    >

                        <b-carousel-slide img-src="https://i.ibb.co/SX7WwkQ/slide2.png"></b-carousel-slide>
                        <b-carousel-slide img-src="https://i.ibb.co/7zmXGs3/slide1.png"></b-carousel-slide>
                        <b-carousel-slide img-src="https://i.ibb.co/1TnCdFJ/slide3.png"></b-carousel-slide>
                    </b-carousel>
                </div>
                <div class="slider-ctnt">
                    <div class="info-txt">
                        <h4>Save 25% on orders over £30 </h4>
                       <!--  <h3><span>from</span> Mj's.</h3>
                        <p>Wyken Fish & Pizza Bar</p> -->
                    </div>
                    <div class="search-res" v-if="this.$route.name !='online-order'">
                        <h3>Enter Your Postal Code.</h3>
                        <form class="form-inline">
                            <div class="form-group mx-sm-3 mb-2">

                                <input type="text"  class="form-control" v-model="postal_code" placeholder="Enter your Postal code">
                            </div>

                            <button type="button" class="custom-btn"  v-on:click="checkPostCode">
                                <span>Submit! <i class="fas fa-long-arrow-alt-right"></i></span>

                            </button>
                            <p style="color:red">{{error_message}} </p>
                        </form>
                    </div>
                </div>

            </div>
        </header>

        <download-menu @HideModalValue="hideModal" :showModalProp="showPopup" :isMenu="menu" :isAllergy="allergy" ></download-menu>
        <postal-code-popup  @HideModalValue="hideModal"   :showModalProp="showPostalCode"></postal-code-popup>

    </div>




</template>

<script>
    export default {
        data() {
            return {
                postal_code: '',
                error_message: '',
                showPopup: false,
                showPostalCode: false,
                menu: false,
                allergy: false
            }
        },
        methods: {

            hideModal() {
                this.showPopup = false;
                this.showPostalCode = false;
            },

            openMenu() {
                this.showPopup = true;
                this.menu = true;
                this.allergy = false;
            },

            openAllergy() {
                this.showPopup = true;
                this.allergy = true;
                this.menu = false;
            },
            openPostalCode() {
                this.showPopup = false;
                this.allergy = false;
                this.menu = false;
                this.showPostalCode = true;
            },
            checkPostCode() {
                let vm = this;
                if (this.postal_code == '') {
                    vm.error_message = 'Please Enter Your Postal Code';
                } else {
                    axios({
                        method: 'post',
                        url: '/api/check-postal',
                        data: {
                            postal_code: this.postal_code
                        },
                    }).then(function (response) {
                        if (response.data.error === undefined) {
                            vm.error_message = response.data.data.amount;
                            vm.$store.commit('setDeliveryCharges', response.data.data.amount);
                            vm.$router.push({path: 'online-order/' + vm.postal_code})

                        } else {
                            vm.error_message = 'We are not providing food in your Area';
                        }
                    })
                        .catch(function (response) {
                            //handle error
                            console.log(response);
                        });
                }

            },

            getGeneralSetting() {
                axios({
                    method: 'get',
                    url: '/api/restaurant_info',
                }).then(function (response) {
                    if (response.data.error === undefined) {
                        console.log(response);
                    } else {
                        vm.error_message = 'We are not providing food in your Area';
                    }
                })
                    .catch(function (response) {
                        //handle error
                        console.log(response);
                    });
            },
        },
        mounted() {
            this.getGeneralSetting();
        },
    }
</script>
