<template>
    <div>
        <header-menu></header-menu>
        <section class="big-img">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="info-box">
                                <p>We are an independent family owned business which thrives on delivering customers with a variety of cuisines and excellent customer service. We understand our customers have varying preferences within a family, therefore, with our extensive menu we believe we offer a “one stop shop” which caters for all. Most excitingly, we have a great Vegan menu, hopefully this means you don’t need to order from 2 places and have the inconvenience of making sure they get delivered at the same time so that you can enjoy your takeaway together.</p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img src="https://i.ibb.co/JC1YKYt/mjs-pick.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-sec1">
            <div class="container">
                <div class="main-title">
                    <!-- <h1>Based in Coventry the City of Culture, we pride ourselves in serving the local community with quality produce and ingredients. We have a wealth of experience and a great ethos for delivering consistently high levels of customer satisfaction. </h1> -->
                </div>

                <div class="row mb-5 sc1">
                    <div class="col-md-6 div-img">
                        <img src="https://i.ibb.co/wdS7W0b/Coventry-cathedral.png">
                    </div>
                    <div class="col-md-6 text-div">
                        <div class="pr-5">

                            <p>Based in Coventry the City of Culture, we pride ourselves in serving the local community with quality produce and ingredients. We have a wealth of experience and a great ethos for delivering consistently high levels of customer satisfaction.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-sec2">
            <div class="container">
                
                <!-- <h3>Donec in eros nec dui vestibulum euismod</h3>
                <a href="#" class="btn btn-primary">Our Menu</a> -->
            </div>
        </section>
        <footer-menu></footer-menu>




    </div>
</template>

<script>
    export default {
        data: function () {
            return {

            };
        },

        mounted() {
            this.getAboutUs();

        },
        methods : {
            getAboutUs(){
                let  _this = this;
                _this.loading  = true;
                axios.get('api/cms/about-us')
                    .then((response) => {
                        console.log(response);
                    });
            },
        }

    }
</script>



<style>
    #contatti{
        background-color: black;
        letter-spacing: 2px;
    }
    #contatti a{
        color: #fff;
        text-decoration: none;
    }


    @media (max-width: 575.98px) {

        #contatti{padding-bottom: 800px;}
        #contatti .maps iframe{
            width: 100%;
            height: 450px;
        }
    }


    @media (min-width: 576px) {

        #contatti{padding-bottom: 800px;}

        #contatti .maps iframe{
            width: 100%;
            height: 450px;
        }
    }

    @media (min-width: 768px) {

        #contatti{padding-bottom: 350px;}

        #contatti .maps iframe{
            width: 100%;
            height: 850px;
        }
    }

    @media (min-width: 992px) {
        #contatti{padding-bottom: 200px;}

        #contatti .maps iframe{
            width: 100%;
            height: 700px;
        }
    }


    #author a{
        color: #fff;
        text-decoration: none;

    }
</style>
