<template>
    <div>
        <header-menu></header-menu>
        <section class="rating-area mb-5">
            <div class="container">
                <div class="rating-img"><a href="#"><img src="https://i.ibb.co/rdDNmNh/rating-bg.png" alt="rating-bg" border="0" class="for-dktp"> <img src="https://i.ibb.co/c6X6yB4/rating-bg-mb.png" alt="rating-bg" border="0" class="for-mb"></a></div></div></section>
        <section class="four-col">
            <div class="container">
                <div class="col-inner">
                    <div class="overlay-2"></div>
                    <div class="row c1">
                        <div class="col-md-6">
                            <div class="box offer">
                                <div class="info">
                                    <h3>Family Collection</h3>
                                    <p>Family Collection 16 Inch
                                        (excluding MJ specials) £9.99</p>
                                    <!-- <a href="#" class="custom-btn2">Recommend Now <i class="fas fa-long-arrow-alt-right"></i></a> -->
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box offer">
                                <div class="info">
                                    <h3>Family Deal
                                    </h3>
                                    <p>Any 2 x9 inch Pizzas, portion of Garlic Bread, Wings and 1.5ltr bottle of pop £21.99</p>
                                    <!-- <a href="#" class="custom-btn2">Recommend Now <i class="fas fa-long-arrow-alt-right"></i></a> -->
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row c1">
                        <div class="col-md-6">
                            <div class="box offer">
                                <div class="info">
                                    <h3 style="text-align: center;">Lunch Time
                                        Special</h3>
                                    <p>Margherita or
                                        Pepperoni
                                        11 inches (Collection only 12Pm to 2Ppm) £4.99</p>
                                    <!-- <a href="#" class="custom-btn2">Recommend Now <i class="fas fa-long-arrow-alt-right"></i></a> -->
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box offer">
                                <div class="info">
                                    <h3 style="text-align: center;">Lunch Time
                                        Special:</h3>
                                    <p>Margherita or
                                        Pepperoni 9 inches
                                        with
                                        Cone of chips
                                        and a Can £4.99</p>
                                    <!-- <a href="#" class="custom-btn2">Recommend Now <i class="fas fa-long-arrow-alt-right"></i></a> -->
                                </div>
                                <div class="overlay"></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row c2">
                        <div class="col-md-12">
                            <div class="box about">
                                <div class="overlay"></div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="">
                                            <h4>ABOUT</h4>
                                            <h3>Restaurant</h3>
                                            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished text. He who searches for meaning here will be sorely disappointed. These words are here to provide the reader with a basic impression of how actual text will appear in its final presentation. </p>
                                            <p>Think of them merely as actors on a paper stage, in a performance devoid of content yet rich in form. That being the case, there is really no point in your continuing to read them. </p>
                                            <a href="#" class="custom-btn2">know more about us <i class="fas fa-long-arrow-alt-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="https://i.ibb.co/gZrwt11/Png-Item-1941470.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>

        <section class="deliver-area">
            <div class="container">
                <div class="locations">
                    <h3><i class="fas fa-map-marker-alt"></i> We are offering Deliveries in these areas</h3>
                    <ul>
                        <li>
                            <a href="#">Cv1</a>
                        </li>
                        <li>
                            <a href="#">Cv2</a>
                        </li>
                        <li>
                            <a href="#">Cv3</a>
                        </li>
                        <li>
                            <a href="#">Cv4</a>
                        </li>
                        <li>
                            <a href="#">Cv5</a>
                        </li>
                        <li>
                            <a href="#">Cv6</a>
                        </li>
                        <li>
                            <a href="#">Cv7</a>
                        </li>

                    </ul>
                    <div class="overlay-bg"></div>
                </div>
            </div>
        </section>
        <section class="menu-box">
            <div class="container">
                <div class="menus pattern">
                    <div class="title">
                        <div class="img-box">
                            <img src="/images/main-logo.png">
                        </div>
                        <h3>Our Food Menu</h3>
                    </div>
                    <div class="menu-area">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="menu-card">
                                    <h3 class="tt">Fish and chips</h3>
                                    <ul>
                                        <li>
                                            <h3>Cone of chips <span>£1.30</span></h3>

                                        </li>
                                        <li class="special">
                                            <h3>Regular chips  <span>£1.70</span></h3>

                                        </li>
                                        <li>
                                            <h3>Large chips <span>£2.90</span></h3>

                                        </li>
                                        <li>
                                            <h3>Chip Batch  <span>£1.85</span></h3>

                                        </li>

                                        <li>
                                            <h3>Cod  <span>£4.55</span></h3>

                                        </li>

                                        <li>
                                            <h3>Haddock  <span>£4.55</span></h3>

                                        </li>

                                        <li>
                                            <h3>Tinned Roe  <span>£1.40</span></h3>

                                        </li>

                                        <li>
                                            <h3>Fishcake<span>£1.30</span></h3>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="menu-card">
                                    <h3 class="tt">Kebabs</h3>
                                    <ul>
                                        <li>
                                            <h3>Doner Batch <span>£3.35</span></h3>

                                        </li>
                                        <li class="special">
                                            <h3>Small Doner Kebab <span>£4.45</span></h3>

                                        </li>
                                        <li>
                                            <h3>Large Doner Kebab<span>£4.75</span></h3>

                                        </li>
                                        <li>
                                            <h3>Doner Meat & Chips <span>£4.65</span></h3>

                                        </li>

                                        <li>
                                            <h3>Doner Wrap <span>£3.35</span></h3>

                                        </li>
                                        <li>
                                            <h3>Portion of Doner Meat <span>£4.75</span></h3>

                                        </li>

                                        <li>
                                            <h3>Chicken Wrap <span>£3.50</span></h3>

                                        </li>

                                        <li>
                                            <h3>Chicken Kebab Batch <span>£3.50</span></h3>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="menu-card">
                                    <h3 class="tt">Burgers</h3>
                                    <ul>
                                        <li>
                                            <h3>2 Faggots, Chips & Peas <span>£3.95</span></h3>
                                        </li>
                                        <li class="special">
                                            <h3>1/4lb Burger with Salad <span>£2.20</span></h3>

                                        </li>
                                        <li>
                                            <h3>Double Decker Burger <span>£2.85</span></h3>

                                        </li>
                                        <li>
                                            <h3>1/4 Cheese Burger <span>£2.50</span></h3>

                                        </li>

                                        <li>
                                            <h3>DoubleDecker Cheese Burger <span>£2.99</span></h3>

                                        </li>

                                        <li>
                                            <h3>Vegi Burger with Salad <span>£2.50</span></h3>

                                        </li>

                                        <li>
                                            <h3>Chicken Burger with Salad <span>£2.70</span></h3>

                                        </li>

                                        <li>
                                            <h3>Spring Roll <span>£1.75</span></h3>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="menu-card">
                                    <h3 class="tt">Extras</h3>
                                    <ul>
                                        <li>
                                            <h3>Batch <span>45p</span></h3>

                                        </li>
                                        <li class="special">
                                            <h3>Pitta Bread <span>45p</span></h3>

                                        </li>
                                        <li>
                                            <h3> Mushrooms in Batter (5)<span>£1.00</span></h3>

                                        </li>
                                        <li>
                                            <h3>Potato Delight (5) <span>£1.00</span></h3>

                                        </li>
                                        <li>
                                            <h3>Bottle of Vinegar <span>£1.20</span></h3>

                                        </li>
                                        <li>
                                            <h3>Cockles <span>£2.25</span></h3>

                                        </li>
                                        <li>
                                            <h3>Mussels <span>£1.95</span></h3>

                                        </li>
                                        <li>
                                            <h3>Pickled Eggs <span>45p</span></h3>

                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center mt-5">
                                <router-link :to="{ path: '/view-menu'}"> <a href="#" class="custom-btn">View All <i class="fas fa-arrow-right"></i></a></router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <div class="gallery mt-5">
            <div class="container">
                <div class="gallery-area">
                    <div class="title">

                        <h3>Discover Our Gallery</h3>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="p-carousel">
                            <b-carousel
                                  id="carousel-2"
                                  v-model="slide"
                                  :interval="2000"
                                  controls
                                  style="text-shadow: 1px 1px 2px #333;"
                                  @sliding-start="onSlideStart"
                                  @sliding-end="onSlideEnd"
                                >

                                  <b-carousel-slide>
                                      <ul>
                                          <li>
                                              <a class="portfolio-box" href="https://preo.gumlet.com/usr/venue/10343/menuItem/5f14a3667d10f.png">
                                                    <img class="img-fluid" src="https://preo.gumlet.com/usr/venue/10343/menuItem/5f14a3667d10f.png" alt="" />
                                               </a>
                                          </li>
                                          <li>
                                              <a class="portfolio-box" href="https://www.seekpng.com/png/detail/316-3165037_burger-fries-and-salad-burgers-and-fries-and.png">
                                                    <img class="img-fluid" src="https://www.seekpng.com/png/detail/316-3165037_burger-fries-and-salad-burgers-and-fries-and.png" alt="" />
                                              </a>
                                          </li>
                                          <li>
                                              <a class="portfolio-box" href="https://flawlessfood.co.uk/wp-content/uploads/2020/02/blog-200204-Takeawaychickenkebabrecipe-13367.jpg">
                                                    <img class="img-fluid" src="https://flawlessfood.co.uk/wp-content/uploads/2020/02/blog-200204-Takeawaychickenkebabrecipe-13367.jpg" alt="" />
                                              </a>
                                          </li>
                                          <li>
                                              <a class="portfolio-box" href="https://png.pngitem.com/pimgs/s/119-1192315_transparent-pizza-slice-png-chicken-chips-png-png.png">
                                                    <img class="img-fluid" src="https://png.pngitem.com/pimgs/s/119-1192315_transparent-pizza-slice-png-chicken-chips-png-png.png" alt="" />
                                              </a>
                                          </li>
                                      </ul>
                                  </b-carousel-slide>
                                  <b-carousel-slide>
                                      <ul>
                                          <li>
                                              <a class="portfolio-box" href="https://www.churchstreetfishbar.co.uk/uploads/kYwdo3Sh/737x0_1200x0/british-food-fish-and-chips-mushy-peas-optimized_579.jpg">
                                                <img class="img-fluid" src="https://www.churchstreetfishbar.co.uk/uploads/kYwdo3Sh/737x0_1200x0/british-food-fish-and-chips-mushy-peas-optimized_579.jpg" alt="" />
                                            </a>
                                          </li>
                                          <li>
                                              <a class="portfolio-box" href="https://www.seekpng.com/png/detail/316-3165037_burger-fries-and-salad-burgers-and-fries-and.png">
                                                  <img class="img-fluid" src="https://www.seekpng.com/png/detail/316-3165037_burger-fries-and-salad-burgers-and-fries-and.png" alt="" />
                                              </a>
                                          </li>
                                          <li>
                                              <a class="portfolio-box" href="https://flawlessfood.co.uk/wp-content/uploads/2020/02/blog-200204-Takeawaychickenkebabrecipe-13367.jpg">
                                                  <img class="img-fluid" src="https://flawlessfood.co.uk/wp-content/uploads/2020/02/blog-200204-Takeawaychickenkebabrecipe-13367.jpg" alt="" />
                                              </a>
                                          </li>
                                          <li>
                                              <a class="portfolio-box" href="https://png.pngitem.com/pimgs/s/119-1192315_transparent-pizza-slice-png-chicken-chips-png-png.png">
                                                  <img class="img-fluid" src="https://png.pngitem.com/pimgs/s/119-1192315_transparent-pizza-slice-png-chicken-chips-png-png.png" alt="" />
                                              </a>
                                          </li>

                                      </ul>
                                  </b-carousel-slide>

                            </b-carousel>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s5vg-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/s5vg-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/s1gg-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/n7ng-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/v5qm-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://images.deliveryhero.io/image/fd-pk/LH/s5vg-listing.jpg">
                                <img class="img-fluid" src="https://images.deliveryhero.io/image/fd-pk/LH/s5vg-listing.jpg?width=400&height=292" alt="" />
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <section class="reservation">
            <div class="container">
                <div class="table-booked pattern">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-box">
                                <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=42%20Torcross%20Ave,%20Coventry%20CV2%203NF.+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-box">
                                <div class="title">
                                    <h3>Contact us</h3>
                                    <p>02476441200.</p>
                                    <p>42 Torcross Ave, Coventry CV2 3NF.</p>
                                </div>
                                <form>
                                    <div class="frm-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="">Name</label>
                                                <input type="text" class="form-control" id="" placeholder="Your Name*">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Email</label>
                                                <input type="email" class="form-control" id="" placeholder="your email *">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="">Address</label>
                                                <input type="text" class="form-control" id="" placeholder="Address">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Number</label>
                                                <input type="phone" class="form-control" id="" placeholder="Number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frm-ftr text-center mt-4">
                                        <button class="custom-btn">Submit <i class="fas fa-long-arrow-alt-right"></i></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
    import VueGallery from 'vue-gallery';
    import {
        Hooper,
        Slide,
        Navigation as HooperNavigation
    } from 'hooper';

    import 'hooper/dist/hooper.css';
    export default {
        components: {
            Hooper,
            Slide,
            HooperNavigation,
            'gallery': VueGallery,
        },
        data: function () {
            return {
                images: [
                    '../../images/mainbanner1.jpeg',
                    '../../images/image00003.jpg',
                ],
                stories: [],
                index: null,
                showPopup: false,
                menu: false,
                allergy: false
            };
        },
        mounted() {
            this.getStory();
            console.log('Component mounted.')
        },
        methods: {
            getStory(){
                let  _this = this
                _this.loading  = true;
                axios.get('/api/our-story')
                    .then((response) => {
                        _this.stories =  response.data.data;
                        _this.loading  = false;
                    });
            },

        }
    }
</script>

