<template>
    <div>
        <header-menu></header-menu>
        <section class="menu-box">
            <div class="container">
                <div class="menus pattern">
                    <div class="title">
                        <div class="img-box">
                            <img src="/images/main-logo.png">
                        </div>
                        <h3>Our Food Menu</h3>
                        <!-- <p>We are an independent family owned business which thrives on delivering customers with a variety of cuisines and excellent customer service. We understand our customers have varying preferences within a family, therefore, with our extensive menu we believe we offer a “one stop shop” which caters for all. Most excitingly, we have a great Vegan menu, hopefully this means you don’t need to order from 2 places and have the inconvenience of making sure they get delivered at the same time so that you can enjoy your takeaway together</p> -->
                    </div>
                    <div class="menu-area">
                        <div class="row">
                            <div class="col-md-6" v-for="(item, index) in categories">
                                <div class="menu-card" >
                                    <h3 class="tt">{{item.name}} </h3>
                                    <ul v-for="(product,p) in item.products">
                                        <li>
                                            <h3> {{product.name}}<span  v-html="returnPriceValue(product)"></span> </h3>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </section>
        <footer-menu></footer-menu>
    </div>
</template>

<script>
    import VueGallery from 'vue-gallery';
    import {
        Hooper,
        Slide,
        Navigation as HooperNavigation
    } from 'hooper';

    import 'hooper/dist/hooper.css';
    export default {
        components: {
            Hooper,
            Slide,
            HooperNavigation,
            'gallery': VueGallery,
        },
        data: function () {
            return {
                images: [
                    '../../images/mainbanner1.jpeg',
                    '../../images/image00003.jpg',
                ],
                stories: [],
                index: null,
                showPopup: false,
                menu: false,
                allergy: false,
                categories:[],
            };
        },
        mounted() {
            this.getCategories();
            console.log('Component mounted.')
        },
        methods: {
            getCategories(){
                let  _this = this;
                _this.loading  = true;
                axios.get('/api/categories')
                    .then((response) => {
                        _this.categories =  response.data.data;
                        _this.loading  = false;
                        if(_this.categories.length > 7){
                            _this.cat_count = true;
                        }
                    });
            },

            returnPriceValue(product){
                let price_string = '';
                if(product.sizes.length){
                   console.log("!");
                    for(var price in  product.sizes){
                        price_string = product.sizes[0].price;
                    }
                }else {
                    price_string = product.price;
                }

                return '£'+price_string

            }

        }
    }
</script>

